@font-face {
    font-family: "alpha_echo";
    src: url("font/alpha_echo.ttf");
}
body{
    margin: 0;
}
.header{
    width: 100%;
    background: #ffffff;
    padding: 10px;
}
.navbar{
    text-align: center;
}
.navbar_items{
    list-style: none;
    padding: 10px 20px 0 0;
}
.navbar_items li {
    display: inline-block;
    margin: 0 30px;
}
.navbar_items li a{
    color: #b8b4b2;
    font-weight: bold;
    text-decoration: none;
    font-family: "Times New Roman";
}
.navbar_items li a:hover{
    width: 200%;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
    transition: 200ms;
}
.main{
    width: 100%;
    background: #f2f2f2;
    padding: 0 300px;

}
.section_1{
    width: 37%;
    justify-content: center;
    /*display: flex;*/
    /*float: left;*/
    /*align-items: center;*/
    background: #ffffff;
}
.sea{
    width: 100%;
    height: 30%;
    background: url("images/main.jpg") no-repeat;
}
.text_zone{
    font-family: Arial;
    padding: 30px;
}
.right-aside1{
    justify-content: center;
    width: 300px;
    text-align: left;
    float: right;
    display: inline-block;
    /*display: flex;*/
    margin-right: 600px;
    /*padding-right: 20px;*/
    margin-top: -1070px;
    background: #fdfdfe;
    padding-bottom: 30px;
    /*position: fixed;*/
}
.dog{
    background: url("images/dog.jpg") no-repeat;
    width: 100%;
    height: 30%;
}
.text_zone2{
    padding: 10px 20px;
}
#btn1{
    width: 150px;
    height: 30px;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 7px
}
.right-aside2{
    width: 300px;
    text-align: left;
    float: right;
    display: inline-block;
    margin-right: 600px;
    /*padding-right: 20px;*/
    margin-top: -560px;
    background: #fdfdfe;
    padding-bottom: 30px;
}
.breakfast{
    background: url("images/breakfast.jpg") no-repeat;
    width: 100%;
    height: 30%;
}
.text_zone3{
    padding: 10px 20px;
}
a{
    color: #d55536;
    margin-bottom: 12px;
}
a:hover{
    text-decoration: none;
}
aside hr{
    margin: 20px;
}
#btn2{
    width: 150px;
    height: 30px;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 7px
}
.footer{
    width: 100%;
    background: #262626;
    margin-top: 150px;
    padding: 40px 300px;
    display: inline-block;
}
.footblock{
    width: 300px;
    text-align: left;
    display: inline-block;
}
.footblock1{
    width: 350px;
    text-align: left;
    display: inline-block;
    /*padding-bottom: 200px;*/
}
.footblock hr{
    margin: 20px 20px 20px 0 ;
}
.fb{
    background: url("images/facebook.svg") no-repeat;
    width: 18%;
    height: 10%;
    display: inline-block;
}
.fb1{
    background: url("images/dribbble.svg") no-repeat;
    width: 18%;
    height: 10%;
    display: inline-block;
}
.fb2{
    background: url("images/twitter.svg") no-repeat;
    width: 18%;
    height: 10%;
    display: inline-block;
}
.fb3{
    background: url("images/instagram.svg") no-repeat;
    width: 18%;
    height: 10%;
    display: inline-block;
}
.fb4{
    background: url("images/linkedin.svg") no-repeat;
    width: 20%;
    height: 10%;
    display: inline-block;
}
.block5{
    width: 100%;
    height: 12%;
}
.text_zone4{
    width: 60%;
    color: #2e3947;
    float: right;
    text-align: left;
    margin-top: -20px;
}
@media screen and (max-width: 1300px) {
    .main{
        width: 100%;
        background: #f2f2f2;
        padding: 0 100px;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 100px;
    }
    .right-aside1{
        margin: 0 400px 0 400px;
        margin-top: -1270px;

    }
    .right-aside2{
        margin: 0 400px 0 400px;
        margin-top: -760px;
    }
}
@media screen and (max-width: 1170px) {
    .section_1{
        float: bottom;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 100px;
    }
    .right-aside1{
        /*display: inline-block;*/
        margin: 0 300px 0 400px;
        /*padding-right: 20px;*/
        margin-top: -1380px;

    }
    .right-aside2{
        margin: 0 300px 0 400px;
        margin-top: -860px;
    }
}
@media screen and (max-width: 1024px) {
    .main{
        width: 100%;
        background: #f2f2f2;
        padding: 0 50px;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 100px;
    }
    .section_1{
        width: 80%;
        margin: 50px;
    }
    .right-aside1{
        float: left;
        margin: 10px;

    }
    .right-aside2{
        float: left;
        margin: 10px;
    }
}
@media screen and (max-width: 768px) {
    .main{
        width: 100%;
        background: #f2f2f2;
        padding: 0 50px;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 100px;
    }
    .section_1{
        width: 80%;
        margin: 50px;
    }
    .right-aside1{
        float: left;
        margin: 10px;

    }
    .right-aside2{
        float: left;
        margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    .main{
        width: 100%;
        background: #f2f2f2;
        padding: 0 50px;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 20px;
    }
    .section_1{
        width: 80%;
        margin: 0;
    }
    .right-aside1{
        float: left;
        margin-left:  70px;
    }
    .right-aside2{
        float: left;
        margin-left:  70px;
    }
    }
@media screen and (max-width: 400px) {
    .main{
        width: 100%;
        background: #f2f2f2;
        padding: 0 50px;
    }
    .footer{
        width: 100%;
        margin-top: 150px;
        padding: 40px 20px;
    }
    .section_1{
        width: 80%;
        margin: 0;
    }
    .right-aside1{
        float: left;
        margin: 0;
    }
    .right-aside2{
        float: left;
        margin: 0;
    }
}
hr{
    margin: 0;
    margin-bottom: 5px;
}