*{
    background: yellowgreen;
}
div{
    background: #bb4499;
    color: rgba(40, 128, 11, 0.63);
}



/*.block,.lorem {*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    background: yellow;*/
/*}*/
.font_size__35{
    font-size: 35px;
    font-weight: bold;
}
.lorem{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
div p {
    color: #bb4499;
}
.rred-words{
    color: red;
    font-weight: bold;
}
.another {
    font-family: "Times New Roman";
    color: gray;
}
.first_Letter {
    font-family: "Microsoft PhagsPa";
    font-size: 2em;
    color: blue;
}
