.main{
    width: 1390px;
    height: 3000px;
    background: #e1e4e2;
}
.block1{
    background: url("images/header.jpg") no-repeat;
    width: 980px;
    height: 240px;
    margin-left: 205px;
    padding: 30px;
}
.nav{
    width: 980px;
    height: 40px;
    background: #94161f;
    margin-top: -60px;
    margin-left: 205px;
}
.nav li{
    display: inline-block;
    float: right;
    margin-right: 30px;
    color: #ffffff;
    cursor: pointer;
    margin-top: -5px;
}
.nav1{
    width: 950px;
    height: 30px;
    margin-left: 205px;
    background: #f2f2f2;
    padding-left: 30px;
}
.main1{
    width: 940px;
    height: 900px;
    margin-left: 205px;
    background: #fdfdfe;
    padding: 20px 20px;
}
.contactus{
    width: 300px;
    height: 520px;
    background: #f2f2f2;
    /*margin: 20px 0 0 20px;*/
}
#yourname{
    width: 250px;
    height: 35px;
    border: 1px solid #e2e3e4;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #e2e3e4;
    cursor: pointer;
}
.btn2{
    width: 210px;
    height: 30px;
    background: #a8212a;
    border: 6px wheat solid;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    padding-top: 15px ;
    font-size: 18px;
    color: #fdfdfe;
}






body{
    margin: 0;
}
.header{
    width: 1140px;
    height: 60px;
    background: #2e353c;
    padding: 10px 40px 0 210px;
}
div.text::first-letter{
    color: #ac4a5c;
}
#search{
    width: 130px;
    height: 20px;
    border: 1px solid #835c63;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 200px;
    margin-top: -40px;
    padding: 10px;
    float: right;
    background: #24272d;
    cursor: pointer;
}
.btn1{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    float: right;
    margin-top: -40px;
    margin-right: 170px;
    cursor: pointer;
    background: url("search.svg") no-repeat 4px #ad4b5d ;
}
